<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>仮装 - 音響機材</title>
    <link href="lib/reset.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>

<body>
    <div id="bgm">
        <h2>BGM</h2>
        <div class="file">
            <button type="button" class="load-last-folder"
                @click="onLoadLastFolder">前回のフォルダを開く</button>
            <button type="button" class="open-folder"
                @click="onOpenFolder">フォルダを開く...</button>
        </div>
        <div class="panels">
            <bgm-player
                :file="file" :playing-key="playingKey"
                v-for="file in fileList" :key="file.key"
                @play-request="onPlayRequest"
                @standby="onStandby"
            ></bgm-player>
        </div>
    </div>
    <div id="se">
        <h2>SE</h2>
        <div class="panels">
            <se-player
                :file="file"
                v-for="file in fileList" :key="file.key"
            ></se-player>
        </div>
    </div>
    <div id="preload" hidden>
        <img :src="path" v-for="path in pathList">
    </div>
</body>

</html>