:root {
    --sky: #3aabd2;
    --pale-sky: #f0fbff;
    --green: #63db00;
    --pale-green: #ecffdf;
    --min-height: 150px;
}
body {
    font-family: Roboto, sans-serif;
    user-select: none;
}

/* common */
h2 {
    margin: 10px 0px;
    padding: 10px 10px;
    font-size: 1.5rem;
    color: #fff;
}
.panels {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.player {
    margin: 10px 20px;
    padding: 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.player.ghost {
    opacity: 0.3;
}
.title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.file {
    margin: 0 0 5px 10px;
}
.file button {
    margin: 0px 2px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9rem;
    background-color: #e6e6e6;
}
.file button:disabled {
    color:#aaa;
    background-color: #ebebeb;
}
.play {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    background-position: center center;
    background-size: contain;
}
.handle {
    margin-left: 12px;
    height: 60%;
    width: 15px;
    background-image: url(image/Handle.svg);
    background-position: center center;
    background-size: contain;
    background-origin: content-box;
    cursor: move;
}

/* #bgm */
#bgm {
    min-height: var(--min-height);
}
#bgm h2 {
    background-color: var(--sky);
}

#bgm .setting {
    display: flex;
    flex-direction: row;
    align-content: center center;
}
#bgm .fadeout {
    margin-left: 10px;
}
#bgm .fadeout-select {
    padding: 0px 10px 0px 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#bgm .player {
    width: 500px;
    border-color: var(--sky);
    background-color: var(--pale-sky);
}

#bgm .play.playing {
    background-image: url(image/Pause.svg);
}
#bgm .play.fading:disabled {
    background-image: url(image/Pause_Disabled.svg);
}
#bgm .play.pausing {
    background-image: url(image/Play.svg);
}
#bgm .play.pausing:disabled {
    background-image: url(image/Play_Disabled.svg);
}

#bgm .container {
    width: 385px;
}
#bgm .discription {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#bgm .note {
    height: 100%;
    width: 15px;
    margin-right: 3px;
    background-image: url(image/Note_BGM.svg);
    background-position: center center;
    background-size: contain;
}

#bgm .controller {
    margin: 10px 0px 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#bgm .time {
    width: 100px;
    margin-right: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    font-size: 0.8rem;
    text-align: center;
}

#bgm .seekbar {
    height: 10px;
    width: 260px;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#bgm .seekbar::-webkit-slider-runnable-track {
    background: #aaa;
}
#bgm .seekbar:disabled::-webkit-slider-runnable-track {
    background: #ddd;
}
#bgm .seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #c0ebfa;
    box-shadow: -100vw 0 0 100vw var(--sky);
}
#bgm .seekbar:disabled::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #dff6ff;
    box-shadow: -100vw 0 0 100vw #a5d2e0;
}


/* #se */
#se {
    min-height: var(--min-height);
}
#se h2 {
    background-color: var(--green);
}

#se .player {
    width: 350px;
    border-color: var(--green);
    background-color: var(--pale-green);
}

#se .play {
    height: 50px;
}
#se .play {
    background-image: url(image/Cracker.svg);
}
#se .play.playing {
    background-image: url(image/Cracker_Playing.svg);
}
#se .play.playing:disabled {
    background-image: url(image/Cracker_Disabled.svg);
}

#se .container {
    width: 236px;
}

#se .discription {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#se .note {
    height: 100%;
    width: 15px;
    margin-right: 3px;
    background-image: url(image/Note_SE.svg);
    background-position: center center;
    background-size: contain;
}

#se .cancel {
    height: 30px;
    display: flex;
    flex-direction: row;
}

#se .cancel button {
    height: 30px;
    width: 30px;
    margin: 0px 3px;
    padding: 2px;
    background-image: url(image/Stop.svg);
    background-position: center center;
    background-size: contain;
}

/* footer */
footer {
    margin-top: 50px;
    background: #777;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px;
}
footer p {
    color: #fff;
}
footer a {
    color: #58b9da;
}
footer div {
    margin: 10px 0px;
}